body{
    background:#f5f5f5 ;
}
/*导航*/
.header{
    height:70px;
    width:100%;
    overflow: hidden;
    background: #fff;
}
.headerin {
    width: 80%;
    margin: 0 auto;

}
.header .left{
    width:160px;
    height: 100%;
    float: left;
}
.left img {
    width:100%;
    margin-top: 3px;
}
.header .right{
    float: right;
    line-height: 70px;
}
.nav{
    float: left;
    margin-right: 20px;
}
.nav li {
    width:80px;
    float: left;
    text-align: center;
    font-size: 14px;
}
.nav li a{
    display: block;
    width:100%;
    height: 100%;
}
.nav li a:hover p{
    color:#ff6700
}
div.login{
    float: left;
}
.login button{
    height:32px;
    width:70px;
    box-sizing: border-box;
    border:1px solid #ff6700;
    border-radius: 3px;
    background: none;
    color:#ff6700;
    transition: all 0.4s ease;
    outline:none;
}
.login button:hover{
    border:none;
    background: #ff6700;
    color:#fff;
}
.login button:nth-child(2){
    color:#fff;
    border:none;
    background: #ff6700;
    transition: all 0.4s ease;
}
.login button:nth-child(2):hover{
    background: #FC9048;
}

/*主窗口*/
.mainbox{
    width:80%;
    background: #fff;
    margin:0 auto;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 80px;
}
.background{
    height:240px;
    width:100%;
    overflow: hidden;
    background-image: url("../img/b1.jpg");
    background-size: 100% 100%;
}
.img{
    height:168px;
    width:168px;
    border-radius: 5px;
    position: absolute;
    left:20px;
    top:200px;
    background: url("../img/loginbgd.jpg") center;
    border:5px solid #fff;
    box-sizing: border-box;
}
.infobox{
    padding-top: 16px;
    padding-left: 32px;
    padding-right: 32px;
    border-left: 174px solid transparent;
}
.infobox li{
    box-sizing: border-box;
    height:90px;
    padding: 30px 0px;
    border-bottom: 1px solid rgb(235, 235, 235);
}
.infobox li:first-child{
    border-bottom: 0;
    font-size: 20px;
    font-weight: bold;
}
.infobox li p span{
    float: left;
}
.infobox li p span.needhide{
    color:#2d8cf0;
    display:none;
    margin-left: 45px;
    cursor: pointer;
}
.infobox li:hover span.needhide{
    display: inline;
}
.infobox li p span:first-child{
    font-size: 16px;
    font-weight: bold;
    display: block;
    width:140px;
    margin:0;
}
.infobox li p.editpsd{
    cursor: pointer;
}
.infobox li:hover p.editpsd{
    color:#2d8cf0
}

