body{
    background:#fff ;
}
/*导航*/
.header{
    height:70px;
    width:100%;
    overflow: hidden;
    background: #fff;
}
.headerin {
    width: 80%;
    margin: 0 auto;

}
.header .left{
    width:160px;
    height: 100%;
    float: left;
}
.left img {
    width:100%;
    margin-top: 3px;
}
.header .right{
    float: right;
    line-height: 70px;
}
.nav{
    float: left;
    margin-right: 20px;
}
.nav li {
    width:80px;
    float: left;
    text-align: center;
    font-size: 14px;
}
.nav li a{
    display: block;
    width:100%;
    height: 100%;
}
.nav li a:hover p{
    color:#ff6700
}
.nav .selected a p{
    color:#ff6700
}
div.login{
    float: left;
}
.login button{
    height:32px;
    width:70px;
    box-sizing: border-box;
    border:1px solid #ff6700;
    border-radius: 3px;
    background: none;
    color:#ff6700;
    transition: all 0.4s ease;
    outline:none;
}
.login button:hover{
    border:none;
    background: #ff6700;
    color:#fff;
}
.login button:nth-child(2){
    color:#fff;
    border:none;
    background: #ff6700;
    transition: all 0.4s ease;
}
.login button:nth-child(2):hover{
    background: #FC9048;
}
/*banner*/
.banner{
    width:100%;
    height:335px;
    overflow: hidden;
}
.img{
    width:100%;
    height:100%;
}
.img li{
    width:100%;
    height:100%;
    background: url('../img/banner.jpg') no-repeat center;
    background-size: cover;
}

/*主体*/
.main{
    width:100%;
    margin:0 auto;
}
.main img{
    width:100%;
}
.inmain{
    width:1200px;
    margin:0 auto;
}
.inmain .ptitle{
    position: relative;
}
.line{
    position: absolute;
    width:60px;
    border:2px solid #ff6700;
    top:77px;
    left:50%;
    margin-left: -30px;
}
.ptitle h1{
    text-align: center;
    line-height: 80px;
    font-size: 24px;
    border-bottom: 1px solid #dadbdb;
    margin:20px 0 40px;
}
.productlist{
    display: flex;
    justify-content:space-between;
}
.productlist li{
    width:285px;
    height: 490px;
    background: #fff;
    border:1px solid #b9b9b9;
    position: relative;
    box-sizing: border-box;
}
.productlist li .inline{
    height:7px;
    width:100px;
    position: absolute;
    left:50%;
    margin-left: -50px;
    background: #15c9cb;
}
.productlist li:nth-child(2) .inline,.productlist li:nth-child(2) .bottom{
    background: #fabd14;
}
.productlist li:nth-child(3) .inline,.productlist li:nth-child(3) .bottom{
    background: #917cf0;
}
.productlist li:nth-child(4) .inline,.productlist li:nth-child(4) .bottom{
    background: #f07277;
}
.circle{
    height:210px;
    width:210px;
    border-radius: 50%;
    background: #fff;
    margin:30px auto 0;
    box-shadow: 0 0 7px 0 #ccc;
}
.bottom{
    height:60px;
    width:100%;
    background: #15c9cb;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    color: #fff;
    line-height: 60px;
    text-align: center;
    font-size: 16px;
}
.content{
    margin-top: 20px;
    text-align: center;
}
.content p{
    font-size: 18px;
    color:#666;
    border-bottom: 1px dotted #666;
    line-height: 36px;
    width:100px;
    margin:0 auto;
}
